<div class="flex-container">
  	<mat-card style="width:100%; height:100%; margin:2em;">
   		 <mat-card-header>
      		<mat-card-title>Welcome to Applications and Devices Management</mat-card-title>
<!--       <mat-card-subtitle>Scroll away...</mat-card-subtitle> -->
    		</mat-card-header>
    	<mat-card-content>
<!--       <div style="height:2000px;"> -->
<!--         <p>Scroll scroll scroll.</p> -->
			<nav>
				<div class="nav-container">
					<div class="nav-item">
			   			<a routerLink="/application" routerLinkActive="active">Applications</a>
			   		</div>
			   		<div class="nav-item">
			    		<a routerLink="/device" routerLinkActive="active">Devices</a>
			    	</div>
		    	</div>
		  	</nav>
<!-- 		  	<router-outlet></router-outlet> -->
    	</mat-card-content>
  	</mat-card>
</div>
