a {
  color: black;
  text-decoration: none; /* no underline */
}

.wrapper {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

.sidenav-container {
	height:100%;
	width:100%;
}

.sidenav-content {
	min-width:220px;
}

.sidenav-toolbar {
	min-height:64px;
}

.sidenav-toggle {
	background-color:transparent;
	border-style:none;
	cursor:pointer;
}

.sidenav-toggle-icon {
	vertical-align: middle;
}

.inner-sidenav-content {
  overflow: auto;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  top:64px;
}

.inner-sidenav-content-body {
/* 	padding-top:2em; */
/* 	padding-bottom:2em; */
}